<div class = "header-container">
    <input class="form-control searchbar" id="searchbar" type="text" placeholder="Search All Movies">
    <button type="button" class="btn btn-primary btn-lg" id="loginBtn">Login</button>
    <button type="button" class="btn btn-secondary btn-lg" id="logoutBtn">Logout</button>

</div>



<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Movie History</a>
    <span class="breadcrumb-item active" id = "current-section">Current Section</span>
</nav>


<div class="toggle-nav">
    <button type="button" class="btn btn-secondary show-unwatched filter" id="untracked">Show Untracked</button>
    <button type="button" class="btn btn-secondary show-watched filter" id="unwatched">Show Unwatched</button>
    <button type="button" class="btn btn-secondary show-watched filter" id="watched">Show Watched</button>
    <button type="button" class="btn btn-secondary show-watched filter" id="favorites">Favorites</button>
</div>



<div class="container" id = "movies">
    <div class="row" id = "movie-container">
    
    </div>
</div>