<nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Find New Movies</a>
        <a class="nav-item nav-link" href="#">Search Your Movies</a>
        <a class="nav-item nav-link" href="#">Login</a>
    </div>
</nav>

<h1 class="px-4">Movie History</h1>

<div class="toggle-nav">
    <button type="button" class="btn btn-secondary btn-lg show-unwatched" id="show-unwatched">Show Unwatched</button>
    <button type="button" class="btn btn-secondary btn-lg show-watched" id="show-watched">Show Watched</button>
</div>

<div class="search">
    <input class="form-control db-searchbar" id="db-searchbar" type="text" placeholder="Search through the Movie Database">
    <input class="form-control my-movies-searchbar" id="my-movies-searchbar" type="text" placeholder="Search My Movies">
</div>

<div class="container popular-movies" id="popular-movies">
    {{!-- <div class="row"> --}}
        {{!-- <div class = "card p-2" id = "tester-card">
             <button type="button" class="btn btn-secondary my-1" id = "add">Add Movie</button>
             <button type="button" class="btn btn-secondary my-1" id = "mark-as-watched">Mark as Watched</button>
             <button type="button" class="btn btn-secondary my-1" id = "rate">Rate with one star because it sucked</button>
             <button type="button" class="btn btn-secondary my-1" id = "delete">Delete it</button>
        </div> --}}
    {{!-- </div> --}}
</div>